.toaster-container{
    right: 20px; 
    left: inherit; 
    bottom: 0px;
    position: fixed;
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
    background: rgb(246,60,4) !important;
    background: rgba(246,60,4,1.00) !important;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    z-index: 99999;
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.toaster-title{
    color: #fff;
    font-size: 19px;
    padding: 8px 25px 10px 0px !important;
    font-weight: bold;
    cursor: pointer;
}
.toaster-content{
    background: rgb(255,255,255) !important;
    background: rgba(255,255,255,1.00) !important;
    padding: 5px;
    height: 100%;
}
.toaster-arrow-up{
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
   display: block;
    position: absolute;
    width: 0;
    top: 18px;
    right: 20px;
}
.toaster-arrow-down{
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    display: block;
    position: absolute;
    width: 0;
    top: 18px;
    right: 20px;
}
